# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.cs text
*.xaml text
*.sql text
*.md text

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.gif binary
*.ico binary

# Custom for Visual Studio
*.sln text eol=crlf
*.csproj text eol=crlf
*.xproj text eol=crlf
*.vcxproj text eol=crlf
*.vcxproj.filters text eol=crlf
*.proj text eol=crlf
*.props text eol=crlf
*.targets text eol=crlf
*.nuspec text eol=crlf

# Standardize on native EOL for shell scripts
*.sh text eol=lf

# Define diff method for specific files.
*.cs diff=csharp