# Ignore all files in the bin and obj folders
**/bin/
**/obj/

# Ignore Visual Studio configuration files
*.user
*.suo
*.userosscache
*.sln.docstates
*.vsdix

# Ignore build and debug files
*.dll
*.exe
*.pdb
*.cache
*.bak
*.swp
*~.nib
*.log
*.DS_Store
*.sys
*.old
*.bak

# Ignore Resharper files
/_ReSharper*/
*.[Rr]e[Ss]harper

# Ignore TeamCity files
/_TeamCity*

# Ignore NuGet files
*.nupkg
# Exclude the folder, but include specific files
!nuget.exe
!NuGet.CommandLine.*
!NuGet.VisualStudio.*

# Ignore NCrunch files
_NCrunch_*
.*crunch*.local.xml

# Ignore Azure DevOps files
.azure/

# Ignore JetBrains Rider files
.idea/
*.DotSettings.user
